.medication-order {
    padding: 10px;
}

.medication-container {
    display: flex;
    margin-bottom: 20px;
}

.medication-selections {
    width: 195px;
}

.pagination {
    margin-bottom: 10px;
}

.current-page {
    padding: 10px;
}